    <!-- FORM TO CREATE MENUS 
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Dados do Atleta</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" ng-repeat="attribute in attributes">
                                <label class="form-label"><strong>{{attribute.description}}</strong></label>
                                <span class="tips"></span>
                                <div class="controls" ng-bind-html="htmlElement({{attribute}})">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>


-->



<div class="page-title"> <i class="icon-custom-left"></i>
    <h2>Parameters <small>here you can update your info &amp; notifications settings</small></h2>
</div>
<div class="row">
    <div class="col-md-12">
                <!-- BEGIN TABS -->
                <div class="tabbable tabbable-custom form">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#general_settings" data-toggle="tab">Informações Pessoais</a></li>
                        <li><a href="#email_settings" data-toggle="tab">Caracteristicas Técnicas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="space20"></div>
                        <div class="tab-pane active" id="general_settings">
                            <div class="row profile">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled profile-nav col-md-3">
                                                <li>
                                                    <img src="assets/img/avatars/avatar4_big.png" alt="avatar 4"/>
                                                </li>
                                            </ul>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12 profile-info">
                                                        <h1>John Addams</h1>
                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.</p>
                                                        <div class="m-t-10"></div>
                                                        <ul class="list-unstyled list-inline">
                                                            <li class="m-r-20"><i class="fa fa-map-marker p-r-5 c-dark"></i> New York</li>
                                                            <li class="m-r-20"><i class="fa fa-calendar p-r-5 c-purple"></i> July 2012</li>
                                                        </ul>
                                                        <div class="m-t-20"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <form>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <div class="row" ng-repeat="attribute in attributes">
                                                            <div class="control-label col-md-3">{{attribute.description}}:</div> 
                                                            <div class="col-md-6" ng-bind-html="htmlElement({{attribute}})">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="align-center">
                                                <button class="btn btn-primary m-r-20" type="submit" ng-click="savePerson()">Validate</button>
                                                <button type="reset" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="email_settings">
                            
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="panel-title line">
                                                <div class="caption"><i class="fa fa-bar-chart-o c-gray m-r-10"></i> PERSONAL STATS</div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="control-label col-md-3 p-t-0">ARTICLES:</div> 
                                                    <div class="col-md-9">4</div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label col-md-3 p-t-0">ANSWERS:</div> 
                                                    <div class="col-md-9">2</div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label col-md-3 p-t-0">PICTURES:</div> 
                                                    <div class="col-md-9">1</div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label col-md-3 p-t-0">EVENTS:</div> 
                                                    <div class="col-md-9">1</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                
                                    <div class="col-sm-12">
                                        <div class="align-center m-t-20">
                                            <button type="submit" class="btn btn-primary btn-lg" >Save</button>
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div> 
                            
                                </div>
                            
                        </div>
                    </div>
                </div>
                <!--END TABS-->
    </div>
</div>
