<div class="col-md-12">
    <div ng-repeat="person in persons" ng-click='editPerson(person._id)' style="cursor:pointer;">
        <img src="/images/avatars/avatar2@2x.png" alt="{{person.attributes.name}}" title="{{person.attributes.name}}" class="pull-left img-responsive" style="padding-right:20px;">
    </div>
</div>   
<div class="row">
    <div class="col-sm-4">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <!-- BEGIN TABS -->
            <div class="tabbable tabbable-custom form">
                <ul class="nav nav-tabs">
                    <li class="tab-index" ng-repeat="(description,attributeGroup) in attributeGroups">
                        <a href="#{{description}}" data-toggle="tab">{{description}}</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="space20"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled profile-nav col-md-3">
                                <li>
                                    <img src="assets/img/avatars/avatar2_big.png" alt="avatar 4"/>
                                </li>
                            </ul>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12 profile-info">
                                        <h1 id="lblName"></h1>
                                        <div class="m-t-10"></div>
                                        <ul class="list-unstyled list-inline">
                                            <li class="m-r-20"><i class="fa fa-map-marker p-r-5 c-dark"></i> <label id="lblCity"></label></li>
                                            <li class="m-r-20"><i class="fa fa-calendar p-r-5 c-purple"></i> <label id="lblBirthDate"></label></li>
                                        </ul>
                                        <div class="m-t-20"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-repeat="(description,attributeGroup) in attributeGroups" id="{{description}}" >
                        <div class="row profile">
                            <div class="col-md-12">
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel">                                                   
                                            <div class="panel-body">
                                                <div class="row" ng-repeat="attribute in attributeGroup">
                                                    <div class="control-label c-gray col-md-3">{{attribute.description}}:</div> 
                                                    <div class="col-md-6" ng-bind-html='htmlElement({{attribute}})'>
                                                    </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END TABS-->
            <div class="col-sm-12">
                <div class="align-center">
                    <button class="btn btn-primary m-r-20" type="submit" ng-click="savePerson()">Save</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>                 
        </form>
    </div>
</div>

